doctype html
html(lang="en")
  body
    table

      tr
        td
          h2 Result
          canvas(width="400" height="300" id="all")
        td
    canvas(width="400" height="300" id="all")
    script(src="/js/illuminated.min.js" type="text/javascript" )
    script(src="/js/demos/illuminate/simple.js" type="text/javascript" )
