doctype html
html(lang="en")
  head
    title Penguin Defender
    base(href="/")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="robots", content="noindex, nofollow")

    link(rel="stylesheet", href="css/main.css")
  body
    div(id="content" class="unselectable")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="js/illuminated.min.js")
    script(src="js/pixi.min.js")
    script(src="js/planckv0.1.45.min.js")
    script(src="js/lighting_demo.js")
